.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    width: 100%;
    color: #233844;
    font-family: 'Inter', sans-serif;
  }

  .introBanner {
    height: 460px;
    width: 100vw;
    color: white;
    background-color: #233844;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .introBannerHeader {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }

  .introBannerPara {
    font-family: 'Georgia', sans-serif;
    font-size: 60px;
    font-weight: 600;
    padding: 30px 20%;
  }

  .diverseBanner {
    height: 430px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

  .diverseBannerText {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    padding: 0 20%;
  }

  .integrationBanner {
    height: 670px;
    display: flex;
  }

  .integrationTextContainer {
    width: 50%;
    height: 100%;
    background-color: #F4F3F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .integrationText {
    padding-left: 40px;
  }

  .integrationTextHeader {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    padding-right: 30%;
  }

  .integrationTextPara {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    padding-right: 30%;
    padding-top: 50px;
  }

  .integrationImg {
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .strategyBanner {
    height: 600px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .strategyCardContainer {
    height: 100%;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .strategyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
    text-align: center;
  }

  .strategyHeader {
    font-size: 26px;
    font-weight: 600;
    padding: 20px 0;
  }

  .strategyPara {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    padding: 0 15%;
  }

.focusBanner {
    background-color: #C2CAC6;
    height: 1000px;
}

.focusText {
    height: 35%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20%;
}

.focusTextHeader {
    font-size: 50px;
    font-weight: 600;
    padding-top: 100px;
}

.focusTextPara {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    padding: 30px 10%;
}

.cardContainer {
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
}

.cardWrapper {
    height: 100%;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 0 15px;
    text-align: center;
}

.cardImg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35%;
}

.cardHeader {
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0;
    padding: 0 20%;
}

.cardPara {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    padding-top: 30px;
    padding: 0 5%;
}

.teamSection {
    height: 380px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .teamSectionTitle {
    font-family: 'Inter', Sans-serif;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    margin-top: 70px;
  }
  
  .teamSectionPara {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    font-family: "Inter", sans-serif;
    padding: 0 25%;
  }
  
  .teamSectionLink {
    font-size: 20px;
    font-weight: 525;
    text-transform: uppercase;
    color: #8B7260;
    text-decoration: none;
    border-bottom: .5px solid #8B7260;
    margin-bottom: 100px;
    padding-top: 35px;
  }
  
  .teamSectionLink:after {
    display: block;
    content: '';
    border-bottom: solid 1px #8B7260;
    transform: scaleX(0);
    transition: 400ms ease-in-out;
    transform-origin: 0 100%;
  }
  
  .teamSectionLink:hover:after {
    transform: scaleX(1);
  }