.mainPage {
    padding-top: 80px;
    color: #233844;
    font-family: 'Inter', sans-serif;
}

.introRibon {
    background-color: #F4F3F1;
    height: 340px;
}

.introContent {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamHeader {
    font-size: 20px;
    font-weight: 600;
}

.teamContent {
    font-size: 60px;
    font-weight: 600;
    margin-top: 15px;
    font-family: 'Georgia', sans-serif;
    text-align: center;
}

.teamInfoRibon {
    height: 340px;
    width: 100%;
}

.teamInfoRibon > p {
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 25%;
    line-height: 25px;
}

.cultureBanner {
    height: 670px;
    display: flex;
  }

  .cultureTextContainer {
    width: 50%;
    height: 100%;
    background-color: #C2CAC6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .cultureText {
    padding-left: 40px;
  }

  .cultureTextHeader {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    padding-right: 30%;
  }

  .cultureTextPara {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    padding-right: 30%;
    padding-top: 50px;
  }

  .cultureImg {
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

 


  .teamBanner {
    padding: 10px;
    background-color: #F4F3F1;
  }

  .teamBannerHead {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding: 90px;
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 90px;
  }

  .teamSection {
    height: 380px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .teamSectionTitle {
    font-family: 'Inter', Sans-serif;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    margin-top: 70px;
  }
  
  .teamSectionPara {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    font-family: "Inter", sans-serif;
    padding: 0 25%;
  }
  
  .teamSectionLink {
    font-size: 20px;
    font-weight: 525;
    text-transform: uppercase;
    color: #8B7260;
    text-decoration: none;
    border-bottom: .5px solid #8B7260;
    margin-bottom: 100px;
    padding-top: 35px;
  }
  
  .teamSectionLink:after {
    display: block;
    content: '';
    border-bottom: solid 1px #8B7260;
    transform: scaleX(0);
    transition: 400ms ease-in-out;
    transform-origin: 0 100%;
  }
  
  .teamSectionLink:hover:after {
    transform: scaleX(1);
  }
  
  