.main {
    color: #233844;
    font-family: 'Inter', sans-serif;
    width: 16.66%;
}

  
  .employeeCard {
    all: unset;
    margin: 20px ;
  }
  
  .employeeCard:hover {
    cursor: pointer;
  }
  
  .img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .name {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
  }
  
  .title {
    font-size: 16px;
  }

  .modalContent {
    display: flex;
    height: 550px;
    width: 1000px;
    background-color: #F4F3F1;
  }

  .modalText {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    color: #233844;
  }

  .modalImg {
    height: 100%;
    border-radius: 10px;
  }

  .modalBtn {
    all: unset;
    text-align: end;
    padding-right: 2%;
    padding-top: 1%;
  }

  .btnX {
    stroke-width: 2.5;
  }

  .modalBtn:hover {
    cursor: pointer;
  }

  .modalName {
    font-size: 45px;
    font-weight: 600;
    padding-top: 30px;
  }

  .modalTitle {
    font-size: 25px;
    font-weight: 500;
    padding-top: 15px;
    padding-right: 25%;
  }

  .modalHistory {
    font-size: 20px;
    padding-top: 30px;
    padding-right: 15%;
  }




  