.header {
  height: 82px;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  color: #233844;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.logo {
  color: #233844;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 20px;
  text-decoration: none;
}

.logo:active {
  color: #7b7b7b;
}

.hamburger {
  display: none;
  stroke-width: 3px;
}

.links {
  padding-right: 100px;
  font-weight: 550;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.links a {
  display: inline-block;
  color: #233844;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.links a:after {
  display: block;
  content: "";
  border-bottom: solid 2px #233844;
  transform: scaleX(0);
  transition: 400ms ease-in-out;
  transform-origin: 0 100%;
  padding-bottom: 10px;
}

.links a:hover:after {
  transform: scaleX(1);
}

@media (max-width: 768px){
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .headerSpan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 25px;
    padding-right: 20px;
  }

  .logo {
    align-items: start;
  }

  .hamburger {
    display: flex;
  }

  .links {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #C2CAC6;
    position: fixed;
    left: -60vw;
    transition: left 0.4s ease-in-out;
  }

  .open {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100%;
    padding-top: 15px;
    background-color: #C2CAC6;
    position: fixed;
    left: 0;
  }

  .linkOpen {
    color: #233844;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 30px;
  }

  .closeIconContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
  }

  .closeIcon {
    stroke-width: 2.5px;
  }

  .links a {
    display: flex;
    top: 0;
    width: 100%;
    padding-left: 25px;
    padding-right: 0px;
    font-size: 25px;
    font-weight: 500;
    padding-top: 20px;
  }
}



